.header{
    text-align: center;
    margin-bottom: 20px;
    background-color: aliceblue;
    padding: 10px;
    border: 5px solid #000000;
    margin: 5px auto;
}
h1, h2 {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    color: #000000;

}

h1{
    font-size: 2.5em;
}

body {
    background-color: #ff9dc8;
    color: #000000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 5px solid #000000;
    background-color: #ffffff;
}